.terms-condition-container .date-title {
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
  margin-top: 57px;
}

.terms-condition-container .top-section .table-content {
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  margin: 30px 0;
}
.top-content {
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 25px;
}

.terms-condition-container .top-content p {
  color: #fdf516;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.terms-condition-container .pp-title {
  color: #fff;
  font-family: Bakbak One;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.terms-condition-content-container {
  max-width: 1245px;
  flex-shrink: 0;
  margin: 45px auto 0 auto;
}

.terms-condition-content-container p {
  color: #fff;
  font-family: Lato;
  font-size: 20px !important;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 16px;
}

/* Media query for devices with a maximum width of 767px (e.g., smartphones) */
@media only screen and (max-width: 425px) {
  .terms-condition-content-container {
    max-width: 1245px;
    flex-shrink: 0;
    margin: 21px auto 0 auto;
  }
  .terms-condition-content-container p {
    font-size: 12px !important;
  }
  .terms-condition-container .top-content p {
    font-size: 12px !important;
  }
  .terms-condition-container .date-title {
    font-size: 12px;
    margin-top: 20px;
  }
  .table-content {
    font-size: 12;
  }
  .top-content {
    margin-top: 29px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 767px) {
  .terms-condition-content-container {
    max-width: 1245px;
    flex-shrink: 0;
    margin: 21px auto 0 auto;
  }
  .terms-condition-content-container p {
    font-size: 12px;
  }
  .terms-condition-container .top-content p {
    font-size: 12px;
  }
  .terms-condition-container .date-title {
    font-size: 12px;
    margin-top: 20px;
  }
  .table-content {
    font-size: 12;
  }
  .top-content {
    margin-top: 29px;
  }
}
